<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List : Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Página inicial</h1>
    <p>Salve uma lista de compras para não se esquecer, acessivel atravez do seu computador, tablete ou celular.</p>
    <a href="/products">Minha lista de compras</a>
    <a href="/products/add">Adicionar novo produto</a>
</body>
</html>