<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List : Novo Produto</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Adicionar produto</h1>
    <form action="/products/save" method="post">
        <div>
            <input type="text" name="name" placeholder="Nome do produto">
        </div>
        <div>
            <input type="number" name="amount" placeholder="Quantidade">
        </div>
        <div>
            <input type="submit" value="Adicionar">
        </div>
    </form>
    <a href="/">Voltar</a>
</body>
</html>